[project]
	description = C07
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ajb0008
[access "refs/for/refs/*"]
	read = group user/ajb0008
	push = group user/ajb0008
	label-Code-Review = -2..+2 group user/ajb0008
	label-Verified = -1..+1 group user/ajb0008
	rebase = group user/ajb0008
	removeReviewer = group user/ajb0008
	submit = group user/ajb0008
[access "refs/heads/*"]
	read = group user/ajb0008
	create = group user/ajb0008
	push = +force group user/ajb0008
	pushMerge = group user/ajb0008
[access "refs/tags/*"]
	push = +force group user/ajb0008
	pushTag = group user/ajb0008
	pushSignedTag = group user/ajb0008
